* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

body {
    background-color: #e4e4e4;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    width: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap:20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-control input,
.form-control select,
.form-control textarea    {
    border: 1px solid #777;
    border-radius: 2px;
    padding: 10px;
}

h6 {
    font-size: 16px;
    font-weight: 400;
}

button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    transition: all 300ms;
}

button:hover {
    background-color: #004b9b;
}